/* HEADER */
header .headernav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

header h1 {
  color: white;
  font-family: antonio;
  font-family: Antonio;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  letter-spacing: -1.05px;
  color: #fff;
  margin: 16px 0 16px 24px;
}
header .burger-btn {
  margin-right: 15px;
}

/* NAV */
nav {
  display: none;
}

nav.active {
  display: block;
  position: fixed;
  top: 70px;
  left: 0;
  width: 100%;
  min-height: 100vh;
  z-index: 98;
  background-image: url(background-stars.svg);
  background-color: rgba(7, 7, 36, 255);
  padding: 20px;
}

nav.active a {
  display: block;
  text-align: left;
  margin-bottom: 10px;
  border-bottom: 1px solid #313148;
  color: white;
  font-family: latin-700;
  font-size: 30px;
  padding-bottom: 10px;
}

/* MAIN */
main .main-rest {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main button {
  color: #7f7f8f;
  font-family: latin-700;
  padding: 25px 0px;
  font-size: 12px;
}

main .main-buttons-1 {
  display: flex;
  justify-content: center;
}

main button.middle {
  margin: 0px 70px;
}

main img {
  width: 115px;
  margin: 70px 0px;
}

main .main-img {
  text-align: center;
}

main article h1 {
  color: white;
  font-size: 40px;
  font-family: antonio;
  text-align: center;
}

main article p.description {
  color: white;
  font-size: 16px;
  font-family: latin-regular;
  margin: 20px;
  text-align: center;
}
.source {
  color: #fff;
  opacity: 0.5;
  font-family: League Spartan;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  mix-blend-mode: normal;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main .desc-source {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

main .desc-source p {
  color: #7f7f8f;
  font-family: latin-700;
  font-size: 12px;
}

main .desc-source a {
  color: #7f7f8f;
  font-family: latin-700;
  text-decoration: underline;
  font-size: 12px;
}

main .main-buttons-2 {
  display: none;
}

/* SECTION - PLANET INFORMATION */
section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 15px;
}

section h3 {
  color: #7f7f8f;
  font-family: latin-700;
  font-size: 11px;
}
section h2 {
  color: white;
  font-family: antonio;
  font-size: 15px;
}

section div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px solid white;
  padding: 10px 17px;
  margin: 5px 15px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  background: none;
  border: none;
}

body {
  background-color: rgba(7, 7, 36, 255);
  background-image: url(images/background-stars.svg);
}

hr {
  border: 1px solid #313148;
}

@font-face {
  font-family: antonio;
  src: url(fonts/antonio.woff2);
}

@font-face {
  font-family: latin-700;
  src: url(fonts/league-spartan-v11-latin-700.woff2);
}

@font-face {
  font-family: latin-regular;
  src: url(fonts/league-spartan-v11-latin-regular.woff2);
}
@media all and (min-width: 768px) {
  /* HEADER */
  .burger-btn {
    display: none;
  }
  header .headernav {
    display: flex;
    flex-direction: column;
  }
  nav {
    display: block;
  }
  .nav-list {
    display: flex;
    margin-top: 20px;
  }
  .nav-link {
    color: white;
    margin-left: 20px;
  }
  header a {
    color: white;
    font-family: latin-700;
    font-size: 11px;
    letter-spacing: 1.05px;
  }
  header h1 {
    margin-top: 20px;
  }
  /* MAIN */
  main .main-buttons-1 {
    display: none;
  }
  main .main-buttons-2 {
    display: block;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
  }
  main img {
    width: 250px;
  }
  main .main-rest {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  main .container {
    border: 1px solid #313148;
    width: 250px;
    padding: 14px;
    text-align: left;
    margin-bottom: 12px;
  }
  main button {
    color: white;
  }
  main .container span {
    color: #7f7f8f;
    margin-right: 13px;
  }
  main .internal {
    margin: 20px 20px 20px 0px;
  }
  main #planet-name {
    text-align: left;
    margin-left: 20px;
  }
  main article p.description {
    text-align: left;
  }
  main article .desc-source {
    justify-content: flex-start;
    margin-left: 20px;
  }

  /* SECTION - PLANET INFORMATION */
  section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 25px;
  }
  section div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    border: 1px solid #7f7f8f;
    width: 200px;
    padding: 20px 17px;
    margin: 15px;
    font-size: 25px;
  }

  section h2 {
    color: white;
    font-family: antonio;
    font-size: 25px;
  }
}

@media all and (min-width: 1440px) {
  /* HEADER */
  header {
    padding: 30px;
  }
  header .header-nav {
    flex-direction: row;
    margin-right: 20px;
  }

  /* MAIN */
  main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  main .main-rest {
    display: flex;
    flex-direction: column;
    margin: 100px 250px 0px 0px;
  }

  main p.description {
    max-width: 250px;
  }

  main article p.description {
    color: #7f7f8f;
    font-size: 15px;
  }

  main article h1 {
    font-size: 70px;
  }

  main .desc-source {
    margin-bottom: 15px;
  }

  main div.main-img #planet-img {
    width: 300px;
    margin-top: 150px;
  }

  /* SECTION - PLANET INFORMATION */

  section div {
    width: 250px;
    padding: 20px 17px;
    margin: 60px 15px;
  }

  section h2 {
    color: white;
    font-family: antonio;
    font-size: 40px;
  }
}
